## NASA dataset

https://power.larc.nasa.gov

- This API allows you to download point or regional data but you need to build two different endpoints.
- When requesting regional data you can request one parameter at the time if you want multiple parameter you need a for loop.

In [1]:
import requests
import pandas as pd

In [3]:
# Define location and time range
latitude = 48.1351  # Example: Munich
longitude = 11.5820
start_date = "20140101"
end_date = "20240310"
parameters = "ALLSKY_SFC_SW_DWN,T2M,RH2M,WS10M,WD10M,PS"
latitude_min = 20.75991
latitude_max = 25.75991
longitude_min = 74.9126
longitude_max = 79.91261
year =2015
# Construct the API UR
# Point endpoint
url = f"https://power.larc.nasa.gov/api/temporal/daily/point?parameters={parameters}&community=RE&longitude={longitude}&latitude={latitude}&start={start_date}&end={end_date}&format=CSV"
# Regional endpoint
# url = f"https://power.larc.nasa.gov/api/temporal/daily/regional?parameters={parameters}&community=RE&latitude-min={latitude_min}&latitude-max={latitude_max}&longitude-min={longitude_min}&longitude-max={longitude_max}&start={year}0101&end={year}1231&format=JSON&header=true"

In [4]:
# Send request and fetch data
response = requests.get(url)

# Check for errors
if response.status_code != 200:
    print("Error:", response.text)
else:
    csv_data = response.text

    # Save to file
    with open("solar_weather_data.csv", "w") as file:
        file.write(csv_data)

## Dataset Description

NASA/POWER Source Native Resolution Daily Data 

Dates (month/day/year): 01/01/2014 through 03/10/2024 in LST

Location: latitude  52.52   longitude 13.41 
elevation from MERRA-2: Average for 0.5 x 0.625 degree lat/lon region = 48.98 meters

The value for missing source data that cannot be computed or is outside of the sources availability range: -999 
parameter(s): 

| Parameter            | Description |
|----------------------|-------------|
|ALLSKY_SFC_SW_DWN     |CERES SYN1deg All Sky Surface Shortwave Downward Irradiance (kW-hr/m^2/day) |
|T2M                   |MERRA-2 Temperature at 2 Meters (C) |
|T2M_MIN               |MERRA-2 Temperature at 2 Meters Minimum (C) |
|T2M_MAX               |MERRA-2 Temperature at 2 Meters Maximum (C) |
|RH2M                  |MERRA-2 Relative Humidity at 2 Meters (%) |
|PS                    |MERRA-2 Surface Pressure (kPa) |
|WS2M                  |MERRA-2 Wind Speed at 2 Meters (m/s) |
|WS2M_MAX              |MERRA-2 Wind Speed at 2 Meters Maximum (m/s) |
|WS2M_MIN              |MERRA-2 Wind Speed at 2 Meters Minimum (m/s) |
|WD2M                  |MERRA-2 Wind Direction at 2 Meters (Degrees)|

In [5]:
 # Load into Pandas for processing
df = pd.read_csv("solar_weather_data.csv", skiprows=14)  # Skipping metadata rows
df.head()  # Preview the data

   YEAR  MO  DY  ALLSKY_SFC_SW_DWN   T2M   RH2M  WS10M  WD10M     PS
0  2014   1   1               1.07 -0.80  83.67   2.35  180.9  94.22
1  2014   1   2               0.76 -0.10  90.39   2.52  204.3  93.74
2  2014   1   3               0.92  0.82  89.88   2.77  199.5  94.16
3  2014   1   4               0.46  2.25  92.08   2.58  166.7  93.71
4  2014   1   5               0.47  0.83  98.15   2.82  236.5  93.63